@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 50vw;
}

/* Para pantallas pequeñas */
@media (max-width: 640px) {
  .container {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

/* Para pantallas medianas */
@media (min-width: 400px) and (max-width: 1024px) {
  .container {
    margin-left: 25vw;
    margin-right: 25vw;
  }
}

/* Para pantallas grandes */
@media (min-width: 1025px) {
  .container {
    margin-left: 25vw;
    margin-right: 25vw;
  }
}
