@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 50vw;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M7.293 7.293a1 1 0 0 1 1.414 0L10 8.586l1.293-1.293a1 1 0 0 1 1.414 1.414l-2 2a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 0-1.414zM7.293 12.707a1 1 0 0 0-1.414 0L5 14.414l-1.293-1.293a1 1 0 1 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l2-2a1 1 0 0 0 0-1.414z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1rem 1rem;
  padding-right: 2.5rem;
}

button {
  background-color: #4299e1;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #3182ce;
}

ul {
  list-style: none;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

ul li:before {
  content: "•";
  margin-right: 0.5rem;
}

.bg-blue-500 {
  --bg-opacity: 1;
  background-color: #4299e1;
  background-color: rgba(66, 153, 225, var(--bg-opacity));
}

.bg-blue-500:hover {
  --bg-opacity: 1;
  background-color: #3182ce;
  background-color: rgba(49, 130, 206, var(--bg-opacity));
}

.hover\:bg-blue-700:hover {
  --bg-opacity: 1;
  background-color: #2b6cb0;
  background-color: rgba(43, 108, 176, var(--bg-opacity));
}

.text-white {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.rounded {
  border-radius: 0.25rem;
}

/* Para pantallas pequeñas */
@media (max-width: 640px) {
  .container {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

/* Para pantallas medianas */
@media (min-width: 400px) and (max-width: 1024px) {
  .container {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

/* Para pantallas grandes */
@media (min-width: 1025px) {
  .container {
    margin-left: 25vw;
    margin-right: 25vw;
  }
}

.form-control {
  padding-right: 30px; /* Espacio para el icono */
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

.form-control + .fa {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.form-control + .fa.fa-check {
  display: none; /* Ocultar el icono de check por defecto */
}

.form-control + .fa.fa-times {
  display: none; /* Ocultar el icono de X por defecto */
}

.form-control:valid + .fa.fa-check {
  display: block; /* Mostrar el icono de check si el campo es válido */
}

.form-control:invalid + .fa.fa-times {
  display: block; /* Mostrar el icono de X si el campo es inválido */
}
